.bg-deep-purple-accent-400 {
    background-color: #6b8e23;
}

.bg-deep-purple-accent-400:hover {
    background-color: #526d1b;
}

.title-header {
    font-size: 70px;
    font-weight: bold;
}

.color {
    background-color: #6b8e23;
    height: 150px;
    font-size: 17px;

}

.color li:hover {
    background: linear-gradient(135deg, #6b8e23, #526d1b);
    transition: background-color 2s ease;
    border-radius: 3px;
}

.ml-2 {
    font-size: 28px;
}

.items-center button{
    background-color: #6b8e23;
}

.mt-16{
    background-color: #6b8e23;
}

.border-deep-purple-accent-400{
    border-color: #526d1b;
}

.colorcarousel{
  background-color: white;  
}

.color-fondo{
    background-color: #6b8e23;
}

.mt-8 label{
    background-color: white;
}

.bg-green-800{
    background-color: #6b8e23;
}